DB_HOST=
DB_NAME=
DB_POSTGRES_USER=
DB_POSTGRES_PASSWORD=
DB_PORT=

# 0 - с дисплеем, 1 - без
HEADLESS_MODE=
# Число для сбора ИНН(итоговое количество это 15 * QUANTITY_INN-1, так как порционно сайт отдаёт по 15)
QUANTITY_INN=

USER_AGENT=
URL_FEDRESURS=
URL_KADARBITR=

# Для X11
DISPLAY=